@{
    ViewData["Title"] = "Male gender members";
}

<div class="text-center">
    <h1 class="display-4">Oldest member</h1>
    <p>
        @ViewBag.OldestPerson.FirstName @ViewBag.OldestPerson.LastName - @ViewBag.OldestPerson.Age
    </p>
</div>
